<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/logout.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />

    <title>Logout</title>
  </head>
  <body>
    <div class="container">
      <form method="POST">
        <h1>Do You Want To Logout?</h1>
        <button class="option option-confirm">Yes</button>
        <a class="option option-cancel" href="/">Cancel</a>
      </form>
    </div>
  </body>
</html>
